#poster-container{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.posters:hover {
    background-color: #1a1a1a;
    border-radius: 5px;
    transform: translateY(-15px);
}

.posters{
    padding: 10px;
    max-width:500px;
    max-height:700px;
}

.home-posters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-posters-text{
    color: #e6e6e6;
}

header {
    /*background-color: #374d6a;*/
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    border-radius: 5px;
}

.header-button{
    padding-left: 5px; padding-right: 5px;
    padding-top: 10px; padding-bottom: 10px;
    margin-left: 20px; margin-right: 20px;
    margin-top: 5px; margin-bottom: 5px;
    color: #333333;
    text-decoration: none;
}

.header-button:hover {
    background-color:#ae0303;
}

footer{ 
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    border-radius: 5px;
}

table {
    border: 2px solid #312f2f;
    background-color: #DDDDDD;
    padding:10px;
}

th {
    text-transform:uppercase;
    border-bottom: 2px solid #312f2f;
    padding: 10px;
}

td { 
    vertical-align: top;
}

.title {
    font-weight: bold;
}

#asterisk{
    font-style: italic; 
}

.actorpic{
    max-width:350px;
    max-height:600px;
}

.actordiv{
    max-width: 50vw;
}

.attribution{
    text-align: left;
    font-size: 10px;
}
